.social {
    padding-top: 2em;
    width: 10%;
    border-right: 1px solid rgb(230, 230, 230);
    height: 100%;
}

.social div {
    text-align: right;
    margin-bottom: 2em;
}

.social a {
    padding: 4px 7px;
    color: #000;
    font-size: 2em;
}

.social a:hover {
    color: #D4AB01;
    background: #000;
    border-radius: 8px;
}