@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://db.onlinewebfonts.com/c/bc584c6f1f3371bec3c04f1ee4d7a782?family=Arial+Nova+Light');
@import url('https://db.onlinewebfonts.com/c/341e27032d2425bbb38e134289df92e8?family=Mabry+Pro+Black');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
}

html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  /* padding-top: 6em; */
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  cursor: pointer;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  border-radius: 16px;
  background: #fff;
  opacity: .5;
  padding: 8px;
  width: auto;
  left: auto;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  padding: 0 2rem;
  color: #fff;
}

.swiper-pagination-bullet-active {
  background: #000;
  color: #000;
}

.swiper-pagination-bullet {
  height: 14px;
  width: 14px;
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DISEÑO CUERPO
  TODO: -------------------------------------------------------------------------------------------------------------
*/

.main h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* Aumentar el tamaño del texto */
  font-size: 2rem;
  line-height: 1.6em;
  text-align: center;
}

.main__logo {
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-top: 2em;
  /* border: 2px solid #111; */
}

.main__logo__image {
  background: cyan;
  width: 9em;
  height: 6.5em;
  margin: 0 auto;
  margin-bottom: .5em;
}

.main__logo__image img {
  width: 100%;
  height: 100%;
}

.main__logo__first-title {
  font-family: 'Merriweather', serif;
  font-size: 19px;
}

.main__logo__second-title {
  font-family: 'Arial Nova Light', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: 19px;
}

.main__blockquote {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-top: 2em;
  padding: 30px 20px;
  border: 1px solid #111;
  /* border-style: dashed; */
  background: #e2b70b;
  border-left-width: 10px;
}

.main__blockquote::before {
  content: "\201c";
  font-size: 100px;
  font-family: sans-serif;
  margin-bottom: -40px;
  margin-top: -20px;
}

.main__blockquote__text {
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.main__blockquote__text:not(:last-child) {
  margin-bottom: 0.5em;
}

.main__blockquote__author {
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.main__blockquote__author::before {
  content: "\2014\0020";
}

.main__about {
  font-size: 20px;
  font-weight: 300;
  width: 75%;
  margin: 0 auto;
  color: #000;
  text-align: center;
  /* border-style: dashed; */
  /* border-radius: 8px; */
  padding-bottom: 0.5em;
  margin-top: 2em;
}

.main__about__content {
  padding: 0 30px;
  margin-bottom: 2em;
}

.main__about__more {
  display: block;
  width: 100%;
  height: 50px;
}

.main__about__more a {
  color: #000;
  padding: 18px;
  border-radius: 4em;
  outline: none;
  font-size: 18px;
  background: var(--color);
  transition: all .5s ease-in-out;
}

.main__about__more a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
  transition: all .5s ease-in-out;
}

.main__header-event {
  display: flex;
  color: #fff;
  /* width: 76.9%; */
  width: 85%;
  height: auto;
  background: #000;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 400;
  padding: 1em 1.5em;
  margin-top: 2em;
}

.msm {
  width: 100%;
  text-align: right;
}

.main__header-event a {
  color: rgb(51, 51, 51);
  padding: 14px;
  border-radius: 4em;
  outline: none;
  font-size: 18px;
  background: var(--color);
  transition: all .5s ease-in-out;
}

.main__header-event p {
  width: 100%;
}

.main__header-event a:hover {
  background: #000;
  color: #D4AB01;
  transition: all .5s ease-in-out;
}

.main__test {
  /* width: 76.9%; */
  width: 75%;
  height: 16em;
  margin: 0 auto;
  cursor: pointer;
}

.swiperS {
  width: 100%;
  height: 100%;
}

.swiper-slideS {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slideS img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 2em;
}

.container .card {
  position: relative;
  width: 300px;
  height: auto;
  padding: 1.5em 1em;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid #111;
  border-style: dashed;
  cursor: pointer;
}

.container .card:hover {
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}


/* .container .card::before{
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 50%;
  background: rgba(255, 255, 255, 0.1);
  pointer-events: none;
} */

.container .card .content {
  text-align: center;
}

.container .card .content h3 {
  position: relative;
  font-size: 1.5em;
  color: #000;
  z-index: 2;
  font-weight: 300;
  letter-spacing: 1px;
  transition: 0.5s;
}

.container .card .content img {
  object-fit: cover;
  width: 100%;
  height: 8em;
  transition: 0.5s;
  border-radius: 2px;
  vertical-align: middle;
}

.container .card .content button {
  font-size: 20px;
  font-weight: 300;
  display: inline-block;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.6em 0;
  background: var(--color);
  color: #111;
  border-radius: 5px;
  outline: none;
  border: 0;
  transition: all .3s ease-in-out;
  cursor: pointer;
}

.container .card .content button:hover,
.container .card .content button:focus {
  background: rgb(51, 51, 51);
  color: #fff;
  transition: all .3s ease-in-out;
}

.main__contact{
  background: #000;
  padding-top: 1.5em;
  width: 85%;
  margin: 0 auto;
}

.main__contact__first-section {
  background-color: rgb(199, 199, 199);
  width: 95%;
  height: 20em;
  margin: 0 auto;
}

.main__contact__second-section {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  height: auto;
  justify-content: center;
  /* padding: 30px 30px; */
}

.main__contact__second-section__first-column,
.main__contact__second-section__second-column {
  padding: 20px 40px;
  width: 50%;
}

.main__contact__second-section__first-column input,
.main__contact__second-section__first-column textarea {
  display: block;
  border-radius: 3px;
  box-sizing: border-box;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;

  font: inherit;
  font-size: 14px;
  font-weight: normal;
  color: #d1d2d2;

  width: 100%;
  padding: 20px;
}

.main__contact__second-section__first-column input {
  height: 55px;
  margin-bottom: 10px;
}


.main__contact__second-section__first-column textarea {
  height: 100px;
  margin-bottom: 10px;
}

.main__contact__second-section__first-column button {
  cursor: pointer;
  color: #111;
  border-radius: 3px;
  background-color: #D4AB01;
  border: 0;
  padding: 15px 50px;
  font-weight: bold;
  float: right;

  transition: opacity .2s ease-out;
}

.main__contact__second-section__first-column button:hover {
  /* color: #000; */
  cursor: pointer;
  opacity: 0.9;
}

.main__contact__second-section__first-column h2,
.main__contact__second-section__second-column h2 {
  font-size: 2em;
  color: #D4AB01;
  font-weight: 300;
  text-align: left;
}

.main__contact__second-section__second-column__information p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
  margin-bottom: 10px;
}

.main__contact__second-section__second-column__information__city b {
  font-family: "Poppins", sans-serif;
}

.main__contact__second-section__second-column__information p i {
  font-size: 20px;
  padding-right: 30px;
  width: 20px;
}

.main__contact__second-section__second-column__information p a {
  color: #fff;
}

.main__contact__second-section__second-column__foundation {
  display: flex;
  justify-content: center;
  height: auto;
  padding-top: 1.5em;
  width: 85%;
  margin: 0 auto;
}

.main__contact__second-section__second-column__foundation__logo {
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
}

.main__contact__second-section__second-column__foundation__logo img {
  /* margin-top: 1rem; */
  width: 100px;
  height: 70px;
}

.main__contact__second-section__second-column__foundation__name-foundation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
}

.main__contact__second-section__second-column__foundation__name-foundation div p {
  text-align: center;
  display: block;
  color: #fff;
  font-family: 'Merriweather', serif;
  /* font-weight: 600; */
  /* letter-spacing: 2px; */
  font-size: 16px;
}


/* 
 TODO:--------------------------------------------------------------------------------------------------
 TODO: FOOTER PRINCIPAL PAGE
 TODO:-------------------------------------------------------------------------------------------------- 
*/


footer {
  /* left: 0px;
  bottom: 0px; */
  background: #111;
  /* display: block; */
}

.decoration {
  margin-top: 2em;
  background: #D4AB01;
  height: 8px;
}

.social-networks {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  background: #111;
  width: 90%;
  height: auto;
  margin: 0 auto;
}

.social-networks a {
  display: block;
  width: 60px;
  height: 60px;
  background: #000;
  color: #fff;
  margin: 16px;
  text-align: center;
  border-radius: 100px;
  transition: .3s ease all;
}

.social-networks .twitter {
  background: #1da1f2;
}

.social-networks .facebook {
  background: #3b5998;
}

.social-networks .instagram {
  background: #c13584;
}

.social-networks a i {
  font-size: 20px;
  line-height: 60px;
}

.social-networks__icon-container:hover a {
  animation: icono .5s ease;
}

@keyframes icono {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }

  to {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.footer-bottom {
  background: #000;
  width: 100%;
  padding: 5px 0;
  text-align: center;
}

.footer-bottom__copyright {
  /* text-transform: uppercase; */
  font-family: 'Roboto', sans-serif;
  opacity: .4;
  font-weight: 200;
  color: white;
  opacity: 0.5;
  font-size: 0.9rem;
}

/* 
  ?: ------------------------------------------------------------------------------------------------------------
  ?: RESPONSIVE
  ?: ------------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 1100px) {

  .main__blockquote,
  .main__about,
  .main__header-event,
  .main__logo,
  .main__test {
    width: 90%;
  }

  .main__logo__first-title,
  .main__logo__second-title {
    font-size: 16px;
  }

  /*
  * --------------------------------------------------------------------------------
  * FOOTER
  * --------------------------------------------------------------------------------
  */

  .main__contact__second-section__first-column,
  .main__contact__second-section__second-column {
    width: 100%;
    padding-top: 0;
    padding-bottom: 10px;
  }

  .main__contact__second-section__first-column {
    padding-top: 16px;
  }

  .main__contact__second-section__third-column {
    padding-bottom: 16px;
  }

  .main__contact__second-section__first-column h2,
  .main__contact__second-section__second-column h2 {
    text-align: center;
  }

  .main__contact__second-section__second-column__information p {
    text-align: center;
  }
}

@media screen and (max-width: 765px) {

  /*
  * --------------------------------------------------------------------------------
  * FOOTER
  * --------------------------------------------------------------------------------
  */

  .main__contact__second-section__first-column,
  .main__contact__second-section__second-column {
    padding-left: 0px;
    padding-right: 0px;
  }

  .main__contact__second-section__first-column {
    padding-left: 16px;
    padding-right: 16px;
  }

  .main__contact__first-section {
    width: 90%;
  }
}