@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://db.onlinewebfonts.com/c/bc584c6f1f3371bec3c04f1ee4d7a782?family=Arial+Nova+Light');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DISEÑO CAROUSEL
  TODO: -------------------------------------------------------------------------------------------------------------
*/

/* Slideshow container */
.slideshow-container {
  z-index: 1;
  background: url("../../img/3.jpg");
  /* background: #000; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color);
  padding-top: 8rem;
  /* max-width: 1000px; */
  height: 20rem;
  text-align: center;
  font-size: 4rem;
}

.slideshow-container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20rem;
  background-color: MidnightBlue;
  opacity: 0.3;
}

.slideshow-container p {
  position: relative;
  /* padding: 15% 0 10%; */
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: var(--color);
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  font-family: "Montserrat", sans-serif;
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DISEÑO CUERPO
  TODO: -------------------------------------------------------------------------------------------------------------
*/

.main h2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* Aumentar el tamaño del texto */
  font-size: 2rem;
  line-height: 1.6em;
  text-align: center;
}

.container {
  width: 80%;
  /* max-width: 850px; */
  margin: 0 auto;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}


.container p {
  /* font-family: 'Special Elite', cursive; */
  /* font-family: "Charter", sans-serif; */
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 1.5em;
  /* Margen Inferior en los Párrafos */
  text-align: justify;
  line-height: 28px;
}

.content {
  width: 66%;
}

.image1,
.image2 {
  width: 100%;
  height: 80%;
  margin-bottom: 2em;
}

.image1 img,
.image2 img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.image1 label,
.image2 label {
  display: block;
  text-align: center;
  /* font-style: italic; */
  font-weight: 100;
  font-size: 14px;

}

/* 
  ?: ------------------------------------------------------------------------------------------------------------
  ?: RESPONSIVE
  ?: ------------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 1100px) {
  .content{
    width: 100%;
  }
}