@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://db.onlinewebfonts.com/c/bc584c6f1f3371bec3c04f1ee4d7a782?family=Arial+Nova+Light');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DESIGN BANNER
  TODO: -------------------------------------------------------------------------------------------------------------
*/

.banner {
  position: relative;
  width: 100%;
  height: 20em;
  background: #000;
}

/* Slideshow container */
.banner-container {
  z-index: 1;
  background: url("../../img/fundacion.jpg");
  /* background: #000; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color);
  /*  */
  /* max-width: 1000px; */
  height: 20rem;
  text-align: center;
  font-size: 4rem;
}

.banner-container::before {
  z-index: 2;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20rem;
  background-color: #000;
  opacity: 0.3;
}

.banner-container p {
  z-index: 3;
  position: relative;
  padding-top: 2em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: #e2b70b;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.banner__decoration {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DISEÑO CUERPO
  TODO: -------------------------------------------------------------------------------------------------------------
*/

.container {
  width: 90%;
  /* max-width: 850px; */
  margin: 2em auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.content {
  width: 65%;
  padding: 0 5em;
}

.container h2 {
  /* font-family: "Charter", Times, serif; */
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  /* Aumentar el tamaño del texto */
  font-size: 2rem;
  line-height: 1.6em;
  text-align: center;

}

.container h3 {
  font-weight: 200;
}

.container p {
  font-family: "Charter", Times, serif;
  font-size: 20px;
  margin-bottom: 1.5em;
  /* Margen Inferior en los Párrafos */
  text-align: justify;
  line-height: 28px;
}

.container__first__cell {
  padding: 1rem;
}

.container__first__cell,
.container__second__cell {
  text-align: center;
}

.container__second {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.container__second__cell {
  margin: 2rem;
}

.container__first__cell img,
.container__second__cell img {
  object-fit: cover;
  border-radius: 250px;
  width: 8rem;
  height: 8rem;
}

.container__founders-list ul,
.container__extra-list ul {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: 0 auto;
}

.container__founders-list li,
.container__extra-list li {
  font-weight: 200;
  width: 50%;
  font-size: 19px;
  padding-bottom: 1em;
}

/* 
  ?: ------------------------------------------------------------------------------------------------------------
  ?: RESPONSIVE
  ?: ------------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 1100px) {

  .container__founders-list li,
  .container__extra-list li,
  .content {
    width: 100%;
  }
}