@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://db.onlinewebfonts.com/c/bc584c6f1f3371bec3c04f1ee4d7a782?family=Arial+Nova+Light');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

:root {
  /* --color: #E1C44D; */
  --color2: #000;
  --color3: rgba(212, 171, 1, 0.7);
  --color: #D4AB01;
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DESIGN BANNER
  TODO: -------------------------------------------------------------------------------------------------------------
*/

.banner {
  position: relative;
  width: 100%;
  height: 20em;
  background: #000;
}

/* Slideshow container */
.banner-container {
  z-index: 1;
  background: url("../../img/fundacion.jpg");
  /* background: #000; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color);
  /*  */
  /* max-width: 1000px; */
  height: 20rem;
  text-align: center;
  font-size: 4rem;
}

.banner-container::before {
  z-index: 2;
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20rem;
  background-color: #000;
  opacity: 0.3;
}

.banner-container p {
  z-index: 3;
  position: relative;
  padding-top: 2em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: #e2b70b;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

.banner__decoration {
  position: absolute;
  z-index: 4;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: -webkit-linear-gradient(top, transparent 0%, #ffffff 100%);
  background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
}

/* 
  TODO: -------------------------------------------------------------------------------------------------------------
  TODO: DISEÑO CUERPO
  TODO: -------------------------------------------------------------------------------------------------------------
*/

.container {
  width: 85%;
  /* max-width: 850px; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container__card {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  margin-top: 2em;
  cursor: pointer;
}

.container__card__image {
  padding: 1em;
  width: 30%;
  height: auto;
}

.container__card__image img {
  width: 100%;
  height: 100%;
}

.container__card__content {
  width: 70%;
  padding: 1em 1em 1em 0;
}

.container__card__content h2 {
  /* margin-top: 0.5em; */
  margin-bottom: 0.5em;
  /* Aumentar el tamaño del texto */
  font-size: 2rem;
  /* line-height: 1.6em; */
  text-align: center;
}

.info {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  padding: 1em;
  border-radius: 6px;
  width: 100%;
  background: #ececec;
}

.details {
  display: flex;
  flex-wrap: wrap;
  padding: 1em 1em 0 1em;
  width: 100%;
  font-size: 18px;
}

.date,
.author {
  width: 50%;
}

.event-date,
.event-time,
.duration,
.location {
  width: 50%;
  padding-bottom: 1em;
}

.date label,
.author label,
.event-date label,
.event-time label,
.duration label,
.location label {
  font-weight: bold;
}

.date p,
.author p,
.event-date p,
.event-time p,
.duration p,
.location p {
  display: inline;
  font-weight: 200;
}

.more {
  display: block;
  /* display: none; */
  width: 100%;
  height: auto;
  text-align: right;
}

.more a {
  display: inline-block;
  color: #000;
  padding: 15px 22px;
  border-radius: 4em;
  outline: none;
  font-size: 18px;
  background: var(--color);
  transition: all .5s ease-in-out;
}

.more a:hover {
  background: rgb(51, 51, 51);
  color: #fff;
  transition: all .5s ease-in-out;
}


/* 
  ?: ------------------------------------------------------------------------------------------------------------
  ?: RESPONSIVE
  ?: ------------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width: 1100px) {

  .container__card__image,
  .date,
  .author,
  .event-date,
  .event-time,
  .duration,
  .location {
    width: 100%;
  }

  .container__card__content {
    width: 95%;
    margin: 0 auto;
    padding: 0 0.5em 0.5em 0.5em;
  }
}